@charset "UTF-8";

@import	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
COLOR PALETTE:
lightest blue: #8ecae6
light blue: #219ebc
blue: #023047
dark blue: #061539
yellow: #ffb703
orange: #fb8500
*/
body {
	background-color: #023047;
	font-family: "Montserrat", sans-serif;
	position: relative;
}

body, header * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	background-color: #061539;
	align-items: center;
	justify-content: flex-start;
}

header ul li, header div {
	display: inline-block;
	/*padding: 1em 1em;*/
	text-align: center;
}

header ul li {
	width: 120px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

header ul li a {
	text-decoration: none;
	padding: 1em 1em;
	display: block;
	width: 100%;
	height: 100%;
}

header ul li:hover {
	background-color: #05112e;
}

div.main {
	margin: 1em 1.5em;
	padding: auto;
}

h1, h3 {
	color: white;
}

ul {
	list-style: none;
}

p, #opList {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

form {
	display: inline-block;
}

form>p {
	margin-top: 0.2em;
}

p>input[type="text"], p>input[type="password"], p>input[type="date"], p>select
	{
	width: 65%;
	float: right;
}

p>select[name="validityPeriod"] {
	width: auto;
}

/*may be useless*/
div.logout {
	position: absolute;
	right: 0px;
	top: 0px;
}

/* form:not(.onlyButton) is introduced to give the style to all forms
   beside the ones which only contain a button */
div.package, div.order, div.subData, div.sales, form:not(.onlyButton) {
	background-color: #219ebc;
	width: 40%;
	margin-right: 3px;
	color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #ffb703;
	padding: 0.5em 0.5em 0.5em 0.5em;
	vertical-align: top;
}

div.package{
	margin-bottom: 8px
}

form.onlyButton {
	margin: 0.15em 0.05em;
}

div.package, div.order {
	min-width: 100px;
	width: auto;
	display: inline-block;
}

div.checkbox {
	display: block;
}

div.service div.checkbox {
	padding: 5px 0;
}

div.label {
	display: inline-block;
	vertical-align: top;
}

div.package>* {
	padding-right: 5px;
}

input[type="submit"], button {
	background-color: #ffb703;
	border-style: solid;
	border-color: #ffb703;
	/*border-radius: 5px;*/
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
}

input[name="startDay"], input[name="startMonth"] {
	width: 12%;
}

input[name="startYear"] {
	width: 20%;
}

a {
	color: #ffb703;
}

div.user {
	text-align: right;
	color: #ffb703;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 1em 1em;
}

p.error, p.success {
	background-color: lightcoral;
	border-color: crimson;
	border-style: solid;
	/*max-width: 50%;*/
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

p.success {
	background-color: lightgreen;
	border-color: green;
}

table {
	border-color: #ffb703;
	border-style: solid;
	border-width: 2px;
	/*border-collapse: collapse;*/
	/*border collapse property led to issues with border radius*/
	border-spacing: 0px;
	/*border-radius: 4px;*/
	border-style: solid;
	background-color: #8ecae6;
}

table tr:not(:last-child) {
	border-bottom-color: #8ecae6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

tbody tr:hover, tr[selected="true"] {
	background-color: #219ebc;
}

th, td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	border: 1px solid #ffb703;
}

th {
	background-color: #05112e;
	color: #ffb703;
}

td.number {
	text-align: center;
}