@charset "ISO-8859-1";

body {
	background-color: teal;
	font-family: "Lucida console";
	position: relative;
}

form {
	display: inline-block;
}

form>p{
	margin-top: 0.2em;
}

p:not([class="date"])>input[type="text"], p>input[type="password"], p>select{
	width: 65%;
	float: right;
}

p>select[name="validityPeriod"]{
	width: auto;
}

/* form:not(.onlyButton) is introduced to give the style to all forms
   beside the ones which only contain a button */
div.package, div.order, div.subData, div.sales, form:not(.onlyButton) {
	background-color: coral;
	width: 40%;
	margin: 10 px;
	border-style: inset;
	border-color: orange;
	border-radius: 10px;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

div.package, div.order {
	min-width: 100px;
	width: auto;
	display: inline-block;
}

div.checkbox {
	display: table-row;
}

div.package>* {
	padding-right: 5px;
}

input[type="submit"], button {
	background-color: orange;
	border-style: outset;
	border-color: orange;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
}

input[name="startDay"], input[name="startMonth"] {
	width: 12%;
}

input[name="startYear"] {
	width: 20%;
}

a.noLog {
	color: orange;
}

div.user {
	text-align: right;
	color: orange;
	position: absolute;
	right: 5px;
	top: 2px;
}

p.error {
	background-color: lightcoral;
	border-color: crimson;
	border-style: solid;
	/*max-width: 50%;*/
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}