<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/telco.css" th:href="@{/css/telco.css}" />
<script src="optprod.js" defer></script>
<script src="utils.js" defer></script>
<title>Buy packages</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="GetClientHomePage">HOME</a>
				<li><a th:href="GetBuyPage">BUY</a>
				<li th:if="${user}==null"><a th:href="GetLogin">LOGIN</a>
				<li th:if="${user}!=null"><a th:href="Logout">LOGOUT</a>
			</ul>
		</nav>
		<div class="user" th:if="${user}!=null" th:text="${user.username}">User</div>
	</header>
	<div class="main">
		<h1>Buy a service package</h1>
		<form id="buyForm" action="CreateSubscription" method="POST">
			<p>
				Package: <select name="package" th:remove="all-but-first">
					<option value="0" th:each="package:${packages}"
						th:value="${package.id}" th:text=${package.name}>Basic</option>
					<option value="1">Family</option>
					<option value="2">All inclusive</option>
				</select>
			</p>
			<p>
				Validity period (months): <select name="validityPeriod"
					th:remove="all-but-first">
					<option th:each="period:${vperiods}" value="12"
						th:value="${period.months}" th:text="${period.months}">12</option>
					<option value="24">24</option>
					<option value="36">36</option>
				</select>
			</p>
			<div id="opList" th:remove="all-but-first">
				Optional products:
				<div class="checkbox" th:each="product,num : ${products}">
					<input type="checkbox" th:value="${product.name}"
						th:name="'optProd' + ${num.index}"> <label
						th:text="${product.name}">Sample product</label>
				</div>
				<div class="checkbox">
					<input type="checkbox"> Another sample product
				</div>
				<div class="checkbox">
					<input type="checkbox"> Third sample product
				</div>
			</div>
			<p class="date">
				Start date (dd-MM-yyyy): <input type="text" name="startDay" required>
				<input type="text" name="startMonth" required> <input
					type="text" name="startYear" required> <br> <br>
				<input type="submit" value="Confirm">
			</p>
		</form>
		<br> <br>
		<div class="allPackages" th:remove="all-but-first">
			<div class="package" th:each="package: ${packages}">
				<div class="packageName" th:text="${package.name}">Basic
					package</div>
				<br> Included services <br> <br>
				<div class="allServices" th:remove="all-but-first">
					<ol>
						<li class="service" th:each="service: ${package.services}">
							<div>
								Type: <span th:text="${service.type}">Mobile Phone</span>
							</div>
							<div th:if="${service.includedGB}!=null">
								Included GB: <span th:text="${service.includedGB}">0</span>
							</div>
							<div th:if="${service.includedGB}!=null">
								Extra GB Fee: <span th:text="${#numbers.formatDecimal(service.extraGbFee, 1, 2, 'POINT')}">0</span> &#8364
							</div>
							<div th:if="${service.includedSMS}!=null">
								Included SMS: <span th:text="${service.includedSMS}">500</span>
							</div>
							<div th:if="${service.includedSMS}!=null">
								Extra SMS Fee: <span th:text="${#numbers.formatDecimal(service.extraSMSFee, 1, 2, 'POINT')}">1</span> &#8364
							</div>
							<div th:if="${service.includedMinutes}!=null">
								Included Minutes: <span th:text="${service.includedMinutes}">500</span>
							</div>
							<div th:if="${service.includedMinutes}!=null">
								Extra Minutes Fee: <span th:text="${#numbers.formatDecimal(service.extraMinutesFee, 1, 2, 'POINT')}">0</span> &#8364
							</div> <br>
						</li>
					</ol>
				</div>
			</div>
		</div>
		<p class="error" th:if="${error}!=null"
			th:text="${error.code} + ': ' + ${error.message}">404: Not found</p>
	</div>
</body>