<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/telco.css" th:href="@{/css/telco.css}" />
<title>Buy packages</title>
</head>
<body>
	<div class="user" th:if="${user}!=null" th:text="${user.username}">User</div>
	<h1>Buy a service package</h1>
	<form id="buyForm" action="CreateSubscription" method="POST">
		<label>Package: </label> <select name="package"
			th:remove="all-but-first">
			<option value="0" th:each="package:${packages}"
				th:value="${package.id}" th:text=${package.name}>Basic</option>
			<option value="1">Family</option>
			<option value="2">All inclusive</option>
		</select><br> <label>Validity period (months): </label> <select
			name="validityPeriod" th:remove="all-but-first">
			<option value="12">12</option>
			<option value="24">24</option>
			<option value="36">36</option>
		</select><br>
		<br> <label>Optional products: </label><br>
		<div th:remove="all-but-first">
			<div class="checkbox" th:each="product,num : ${products}">
				<input type="checkbox" th:value="${product.name}"
					th:name="'optProd' + ${num.index}"> <label th:text="${product.name}" >Sample
				product</label>
			</div>
			<div class="checkbox">
				<input type="checkbox"> Another sample product
			</div>
			<div class="checkbox">
				<input type="checkbox"> Third sample product
			</div>
		</div>
		<br> <br>
		<label> Start date (dd-MM-yyyy): </label>
		<input type="text" name="startDay" required>
		<input type="text" name="startMonth" required>
		<input type="text" name="startYear" required> <br><br>
		<input type="submit" value="Buy">
	</form>
	<br>
	<br>
	<div class="allPackages" th:remove="all-but-first">
		<div class="package" th:each="package: ${packages}">
			<div class="packageName" th:text="${package.name}">Basic
				package</div>
			<br> Included services <br> <br>
			<div class="allServices" th:remove="all-but-first">
				<ul>
					<li class="service" th:each="service: ${package.services}">
						<div>
							Type: <span th:text="${service.type}">Mobile Phone</span>
						</div>
						<div th:if="${service.includedGB}!=0">
							Included GB: <span th:text="${service.includedGB}">0</span>
						</div>
						<div th:if="${service.includedGB}!=0">
							Extra GB Fee: <span th:text="${service.extraGBFee}">0</span>
						</div>
						<div th:if="${service.includedSMS}!=0">
							Included SMS: <span th:text="${service.includedSMS}">500</span>
						</div>
						<div th:if="${service.includedSMS}!=0">
							Extra SMS Fee: <span th:text="${service.extraSMSFee}">1</span>
						</div>
						<div th:if="${service.includedMinutes}!=0">
							Included Minutes: <span th:text="${service.includedMinutes}">500</span>
						</div>
						<div th:if="${service.includedMinutes}!=0">
							Extra Minutes Fee: <span th:text="${service.extraMinutesFee}">0</span>
						</div> <br>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>