<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/telco.css" th:href="@{/css/telco.css}" />
<!-- ORDER==NULL => confirmation page -->
<!-- ORDER!=NULL => activation schedule -->
<title th:if="${order==null}">Subscription confirmation</title>
<title th:if="${order!=null}">Activation schedule</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="GetUserHomePage">HOME</a>
				<li><a th:href="GetBuyPage">BUY</a>
				<li><a th:href="Logout">LOGOUT</a>
			</ul>
		</nav>
		<div class="user" th:if="${user}!=null" th:text="${user.username}">User</div>
	</header>
	<div class="main">
		<h1 th:if="${order==null}">Subscription data</h1>
		<h1 th:if="${order!=null}">Activation schedule</h1>
		<div class="subData">
			<p th:if="${order!=null}">
				Order ID: <span th:text="${order.id}"> 404 </span>
			</p>
			<p>
				Service package: <span th:text="${sub.package_.name}"> Basic
				</span>
			</p>
			<p>Included services: </p>
			<div class="allServices" th:remove="all-but-first">
				<ol>
					<li class="service" th:each="service: ${sub.package_.services}">
						<div>
							Type: <span th:text="${service.type}">Mobile Phone</span>
						</div>
						<div th:if="${service.includedGB}!=null">
							Included GB: <span th:text="${service.includedGB}">0</span>
						</div>
						<div th:if="${service.includedGB}!=null">
							Extra GB Fee: <span th:text="${#numbers.formatDecimal(service.extraGbFee, 1, 2, 'POINT')}">0</span>
							&#8364
						</div>
						<div th:if="${service.includedSMS}!=null">
							Included SMS: <span th:text="${service.includedSMS}">500</span>
						</div>
						<div th:if="${service.includedSMS}!=null">
							Extra SMS Fee: <span th:text="${#numbers.formatDecimal(service.extraSMSFee, 1, 2, 'POINT')}">1</span>
							&#8364
						</div>
						<div th:if="${service.includedMinutes}!=null">
							Included Minutes: <span th:text="${service.includedMinutes}">500</span>
						</div>
						<div th:if="${service.includedMinutes}!=null">
							Extra Minutes Fee: <span
								th:text="${#numbers.formatDecimal(service.extraMinutesFee, 1, 2, 'POINT')}">0</span> &#8364
						</div> <br>
					</li>
				</ol>
			</div>
			<p>
				Activation date: <span
					th:text="${#dates.format(sub.startDate, 'dd-MM-yyyy')}">
					03-04-1999 </span>
			</p>
			<p th:if="${order!=null}">
				Deactivation date: <span
					th:text="${#dates.format(deactivationDate, 'dd-MM-yyyy')}">
					16-02-2000 </span>
			</p>
			<p th:if="${order==null}">
				Validity period: <span th:text="${sub.validityPeriod.months}">
					12 </span>
			</p>
			<p th:if="not ${#lists.isEmpty(sub.optionalProductsSub)}">Optional
				products:
			<ol th:remove="all-but-first">
				<li th:each="product: ${sub.optionalProductsSub}"
					th:text="${product.name}">Product 1</li>
				<li>Product 2</li>
				<li>Product 3</li>
			</ol>
			<p th:if="${order==null} or ${order.validity}==false">
				Amount to pay: <span th:text="${sub.amount}"> 404 </span> &#8364
			</p>
			<p th:if="${order!=null} and ${order.validity}==true">
				Paid amount: <span th:text="${sub.amount}"> 404 </span> &#8364
			</p>
			<div th:if="${order==null}">
				<form action="ConfirmSub" class="onlyButton" th:if="${client}!=null"
					method="POST">
					<input type="hidden" name="fail" value="false"> <input
						type="submit" value="Buy - no failure">
				</form>
				<form action="ConfirmSub" class="onlyButton" th:if="${client}!=null"
					method="POST">
					<input type="hidden" name="fail" value="true"> <input
						type="submit" value="Buy but fail payment">
				</form>
			</div>
			<div th:if="${order!=null}">
				<form th:if="${order.validity}==false" action="PayOrder"
					class="onlyButton" method="POST">
					<input type="hidden" name="fail" value="false"> <input
						type="submit" value="Retry - no failure">
				</form>
				<form th:if="${order.validity}==false" action="PayOrder"
					class="onlyButton" method="POST">
					<input type="hidden" name="fail" value="true"> <input
						type="submit" value="Retry but fail payment">
				</form>
			</div>
		</div>
		<p th:if="${client}==null and ${order}==null">
			<a href="GetLogin">Log in/register to purchase</a>
		</p>
	</div>
</body>
</html>