<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/telco.css" th:href="@{/css/telco.css}" />
<title>Subscription confirmation</title>
</head>
<body>
	<div class="user" th:if="${user}!=null">
		<span th:text="${user.username} + ' | '"> User | </span>
		<a th:href="Logout" href="Logout" th:text="Logout"> Logout</a>
	</div>
	<h1>Subscription data</h1>
	<div class="subData">
		<p>
			Service package: <span th:text="${sub.package_}"> Basic </span>
		</p>
		<p>
			Activation date: <span
				th:text="${#dates.format(sub.startDate, 'dd-MM-yyyy')}">
				03-04-1999 </span>
		</p>
		<p>
			Validity period: <span th:text="${sub.validityPeriod.months}">
				12 </span>
		</p>
		<p>Optional products:
		<ul th:remove="all-but-first">
			<li th:each="product: ${sub.optionalProductsSub}"
				th:text="${product.name}">Product 1</li>
			<li>Product 2</li>
			<li>Product 3</li>
		</ul>
		<p>
			Amount to pay: <span th:text="${sub.amount}"> 404 </span> &#8364
		</p>

		<form action="ConfirmSub" class="onlyButton" th:if="${client}!=null" method="POST">
		<input type="hidden" name="fail" value="false">
			<input type="submit" value="Buy - no failure">
		</form>
		<form action="ConfirmSub" class="onlyButton" th:if="${client}!=null" method="POST">
		<input type="hidden" name="fail" value="true">
			<input type="submit" value="Buy but fail payment">
		</form>
		<p th:if="${client}==null">
			<a href="GetLogin">Log in/register to purchase</a>
		</p>
	</div>
</body>
</html>