<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/telco.css" th:href="@{/css/telco.css}" />
<script src="utils.js" defer></script>
<script src="employee.js" defer></script>
<title>Welcome in your home page</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="GetEmployeeHomePage">HOME</a>
				<li><a th:href="GetSalesPage">SALES</a>
				<li><a th:href="Logout">LOGOUT</a>
			</ul>
		</nav>
		<div class="user" th:if="${user}!=null" th:text="${user.username}">User</div>
	</header>
	<div class="main">
		<div>
			<h1>Create a service package</h1>
			<form action="CreateServicePackage" method="POST">
				<p>
					Name: <input type="text" name="name" required>
				</p>
				<h2>Choose services to add</h2>
				<div class="allServices" th:remove="all-but-first">
					<div class="service" th:each="service: ${services}">
						<div class="checkbox">
							<input type="checkbox" name="typeService"
								th:value="${service.id}">
							<div class="label">
								<div>
									Type: <span th:text="${service.type}">Mobile Phone</span>
								</div>
								<div th:if="${service.includedGB}!=0">
									Included GB: <span th:text="${service.includedGB}">0</span>
								</div>
								<div th:if="${service.includedGB}!=0">
									Extra GB Fee: <span th:text="${service.extraGBFee}*0.01">0</span>
									&#8364
								</div>
								<div th:if="${service.includedSMS}!=0">
									Included SMS: <span th:text="${service.includedSMS}">500</span>
								</div>
								<div th:if="${service.includedSMS}!=0">
									Extra SMS Fee: <span th:text="${service.extraSMSFee}*0.01">1</span>
									&#8364
								</div>
								<div th:if="${service.includedMinutes}!=0">
									Included Minutes: <span th:text="${service.includedMinutes}">500</span>
								</div>
								<div th:if="${service.includedMinutes}!=0">
									Extra Minutes Fee: <span
										th:text="${service.extraMinutesFee}*0.01 ">0</span> &#8364
								</div>
							</div>
						</div>
						<div class="checkbox">
							<input type="checkbox" name="typeService">
							<div class="label">
								<div>Type: Mobile Phone</div>
								<div>Included GB: 0</div>
								<div>Extra GB Fee: 0 &#8364</div>
								<div>Included SMS: 500</div>
								<div>Extra SMS Fee: 1 &#8364</div>
								<div>Included Minutes: 500</div>
								<div>Extra Minutes Fee: 0 &#8364</div>
							</div>
						</div>
					</div>
				</div>
				<h2>Choose optional products to add</h2>
				<div class="allOptionalProducts" th:remove="all-but-first">
					<div class="optionalProduct"
						th:each="optionalProduct: ${optionalProducts}">
						<input type="checkbox" name="typeOptional"
							th:value="${optionalProduct.name}">
						<div class="label">
							<div>
								Name: <span th:text="${optionalProduct.name}">Product</span>
							</div>
							<div>
								Monthly fee: <span th:text="${optionalProduct.monthlyFee}">5</span>
								&#8364
							</div>
						</div>
						<br> <br>
					</div>
				</div>
				<input type="submit" value="Create">
			</form>
		</div>
		<div>
			<h1>Create an optional product</h1>
			<form action="CreateOptionalProduct" method="POST">
				<p>
					Name: <input type="text" name="name" required>
				</p>
				<p>
					Monthly fee: <input type="text" name="monthlyFee" required>
				</p>
				<input type="submit" value="Create">
			</form>
		</div>
		<br>
		<form class="onlyButton" action="#">
			<input id="seeSalesButton" type="submit" value="SeeSales">
		</form>
		<br>
		<p class="error" th:if="${error}!=null"
			th:text="${error.code} + ': ' + ${error.message}">404: Not found</p>
	</div>
</body>
</html>