<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/telco.css" th:href="@{/css/telco.css}" />
<title>Welcome in your home page</title>
</head>
<body>
	<div class="user" th:if="${user}!=null">
		<span th:text="${user.username} + ' | '"> User | </span> <a
			th:href="Logout" href="Logout" th:text="Logout"> Logout</a>
	</div>
	<div>
		<h1>Create a service package</h1>
		<form action="CreateServicePackage" method="POST">
			<p> Name: <input type="text" name="name" required></p> 
			<h2>Choose services to add</h2>
			<div class="allServices" th:remove="all-but-first">
				<div class="service" th:each="service: ${services}">
					<input type="checkbox" name="typeService" th:value="${service.id}">
					<div> Type: <span th:text="${service.type}">Uruk Hai</span></div>
					<div> Included GB: <span th:text="${service.includedGB}">Bilbo</span> </div>
					<div> Extra GB Fee: <span th:text="${service.extraGBFee}">Gandalf</span> </div>
					<div> Included SMS: <span th:text="${service.includedSMS}">Galadriel</span> </div>
					<div> Extra SMS Fee: <span th:text="${service.extraSMSFee}">Aragorn</span> </div>
					<div> Included Minutes: <span th:text="${service.includedMinutes}">Frodo</span> </div>
					<div> Extra Minutes Fee: <span th:text="${service.extraMinutesFee}">Sam</span> </div> <br>
				</div>
			</div> <br>
			<h2>Choose optional products to add</h2>
			<div class="allOptionalProducts" th:remove="all-but-first">
				<div class="optionalProduct" th:each="optionalProduct: ${optionalProducts}">
					<input type="checkbox" name="typeOptional" th:value="${optionalProduct.name}"> 
					<div> Name: <span th:text="${optionalProduct.name}">Uruk Hai</span> </div>
					<div> MonthlyFee: <span th:text="${optionalProduct.monthlyFee}">Bilbo</span> </div><br>
				</div>
			</div>
			<input type="submit" value="Create">
		</form>
	</div>
	<div>
		<h1>Create an optional product</h1>
		<form action="CreateOptionalProduct" method="POST">
			<p>
				Name: <input type="text" name="name" required>
			</p>
			<p>
				MonthlyFee: <input type="text" name="monthlyFee" required>
			</p>
			<input type="submit" value="Create">
		</form>
	</div>
	<br>
	<form class="onlyButton" action="GetSalesPage" method="GET"><input type="submit" value="SeeSales">
	</form>
	<br>
	<p class="error" th:if="${error}!=null" th:text="${error.code} + ': ' + ${error.message}">404: Not found</p>
</body>
</html>