<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/telco.css" th:href="@{/css/telco.css}" />
<title>Welcome in sales page</title>
</head>
<body>
	<div class="back">
		<a th:href="@{/GetEmployeeHomePage}">Back</a>
	</div>
	<div>
		<div th:if="${#strings.equalsIgnoreCase(choice, 'Purchase per package')}">
		<h1>Total Purchases</h1>
		<div th:remove="all-but-first">
			<div th:each="sale: ${allSalesDataPerPackage}">
				<div>
					Id package: <span th:text="${sale[0]}">Uruk Hai</span>
				</div>
				<div>
					Total Number of purchases: <span th:text="${sale[1]}">Bilbo</span>
				</div>
				<br>
			</div>
		</div>
		</div>
		<br>
		<div th:if="${#strings.equalsIgnoreCase(choice, 'Purchase per package and validity period')}">
		<h1>Total Purchases per validity period</h1>
		<div th:remove="all-but-first">
			<div th:each="sale: ${allSalesPerValidityAndPackage}">
				<div>
					Id package: <span th:text="${sale.id_package}">Uruk Hai</span>
				</div>
				<div>
					Validity Period: <span th:text="${sale.months}">Bilbo</span>
				</div>
				<div>
					Total Number of purchases: <span th:text="${sale.totPurchase}">Bilbo</span>
				</div>
				<br>
			</div>
		</div>
		</div>
		<br>
		<div th:if="${#strings.equalsIgnoreCase(choice, 'Amount without optional product')}">
		<h1>Total Amount per package without optional product</h1>
		<div th:remove="all-but-first">
			<div th:each="sale: ${allSalesDataPerPackage}">
				<div>
					Id package: <span th:text="${sale[0]}">Uruk Hai</span>
				</div>
				<div>
					Total Amount: <span th:text="${sale[2]}">Bilbo</span>
				</div>
				<br>
			</div>
		</div>
		</div>
		<br>
		<div th:if="${#strings.equalsIgnoreCase(choice, 'Amount with optional product')}">
		<h1>Total Amount per package with optional product</h1>
		<div th:remove="all-but-first">
			<div th:each="sale: ${allSalesDataPerPackage}">
				<div>
					Id package: <span th:text="${sale[0]}">Uruk Hai</span>
				</div>
				<div>
					Total Amount: <span th:text="${sale[3]}">Bilbo</span>
				</div>
				<br>
			</div>
		</div>
		</div>
		<br>
		<div th:if="${#strings.equalsIgnoreCase(choice, 'Average number of optional product')}">
		<h1>Average Number Of Optional Product</h1>
		<div th:remove="all-but-first">
			<div th:each="sale: ${allSalesDataPerPackage}">
				<div>
					Id package: <span th:text="${sale[0]}">Uruk Hai</span>
				</div>
				<div>
					AvgNumberOfOpt: <span th:text="${sale[4]}/${sale[1]}">Bilbo</span>
				</div>
				<br>
			</div>
		</div>
		</div>
		<br>
		<div th:if="${#strings.equalsIgnoreCase(choice, 'Insolvent clients')}">
		<h1>Insolvent clients</h1>
		<div th:remove="all-but-first">
			<div th:each="insolvent: ${insolvents}">
				<div>
					Username: <span th:text="${insolvent.username}">Uruk Hai</span>
				</div>
				<div>
					Email: <span th:text="${insolvent.email}">Bilbo</span>
				</div>
				<br>
			</div>
		</div>
		</div>
		<br>
		<div  th:if="${#strings.equalsIgnoreCase(choice, 'Suspended orders')}">
		<h1>Suspended orders</h1>
		<div th:remove="all-but-first">
			<div th:each="order: ${suspendedOrders}">
				<div>
					ID: <span th:text="${order.id}">Uruk Hai</span>
				</div>
				<div>
					Creation date: <span th:text="${order.creationDate}">Bilbo</span>
				</div>
				<div>
					Creation time: <span th:text="${order.creationTime}">Bilbo</span>
				</div>
				<br>
			</div>
		</div>
		</div>
		<br>
		<div  th:if="${#strings.equalsIgnoreCase(choice, 'Alerts')}">
		<h1>Clients with alerts</h1>
		<div th:remove="all-but-first">
			<div th:each="alert: ${alerts}">
				<div>
					Username: <span th:text="${alert[0]}">Uruk Hai</span>
				</div>
				<div>
					Email: <span th:text="${alert[1]}">Bilbo</span>
				</div>
				<div>
					Amount: <span th:text="${alert[2]}">Bilbo</span>
				</div>
				<div>
					Rejection Date: <span th:text="${alert[3]}">Bilbo</span>
				</div>
				<div>
					Rejection Time: <span th:text="${alert[4]}">Bilbo</span>
				</div>
				<br>
			</div>
		</div>
		</div>
		<br>
		<div  th:if="${#strings.equalsIgnoreCase(choice, 'Best seller')}">
		<h1>Best seller</h1>
		<div th:remove="all-but-first">
			<div th:each="best: ${bestSeller}">
				<div>
					Optional product: <span th:text="${best.id_optprod}">Uruk Hai</span>
				</div>
				<div>
					Total revenue: <span th:text="${best.tot_revenue}">Bilbo</span>
				</div>
				<br>
			</div>
		</div>
		</div>	
		<br>
	</div>
</body>
</html>