<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/telco.css" th:href="@{/css/telco.css}" />
<script src="utils.js" defer></script>
<script src="sales.js" defer></script>
<title>Welcome in sales page</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="GetEmployeeHomePage">HOME</a>
				<li><a th:href="GetSalesPage">SALES</a>
				<li><a th:href="Logout">LOGOUT</a>
			</ul>
		</nav>
	<div class="user" th:if="${user}!=null" th:text="${user.username}">User</div>
	</header>
	<div class="main">
		<div class="Buttons">
			<form class="onlyButton" action="#">
				<input id="purchasePerPackageButton" type="submit"
					value="Purchase per package">
			</form>
			<form class="onlyButton" action="#">
				<input id="purchasePerPackageAndValidityPeriodButton" type="submit"
					value="Purchase per package and validity period">
			</form>
			<form class="onlyButton" action="#">
				<input id="amountWithoutOptionalButton" type="submit"
					value="Amount without optional product">
			</form>
			<form class="onlyButton" action="#">
				<input id="amountWithOptionalButton" type="submit"
					value="Amount with optional product">
			</form>
			<form class="onlyButton" action="#">
				<input id="averageNumberButton" type="submit"
					value="Average number of optional product">
			</form>
			<form class="onlyButton" action="#">
				<input id="insolventClientsButton" type="submit"
					value="Insolvent clients">
			</form>
			<form class="onlyButton" action="#">
				<input id="suspendedOrdersButton" type="submit"
					value="Suspended orders">
			</form>
			<form class="onlyButton" action="#">
				<input id="alertsButton" type="submit" value="Alerts">
			</form>
			<form class="onlyButton" action="#">
				<input id="bestSellerButton" type="submit" value="Best selling optional product">
			</form>
		</div>
		<div class="purchasePerPackage">
			<h1>Total purchases</h1>
			<table>
				<thead>
					<tr>
						<th>Package</th>
						<th>Purchases</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Package</td>
						<td class="number">5</td>
					</tr>
				</tbody>
			</table>
			<h2 id="perPackMessage">There aren't products</h2>
		</div>
		<div class="purchasePerPackageAndValidity">
			<h1>Total purchases per validity period</h1>
			<table>
				<thead>
					<tr>
						<th>Package</th>
						<th>Months</th>
						<th>Purchases</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Package</td>
						<td class="number">12</td>
						<td class="number">5</td>
					</tr>
				</tbody>
			</table>
			<h2 id="perValMessage">There aren't products</h2>
		</div>
		<div class="amountWithoutOptionalProduct">
			<h1>Total amount per package without optional product</h1>
			<table>
				<thead>
					<tr>
						<th>Package</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Package</td>
						<td class="number"><span>5</span> &#8364</td>
					</tr>
				</tbody>
			</table>
			<h2 id="withoutOptMessage">There aren't products</h2>
		</div>
		<div class="amountWithOptionalProduct">
			<h1>Total amount per package with optional product</h1>
			<table>
				<thead>
					<tr>
						<th>Package</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Package</td>
						<td class="number"><span>5</span> &#8364</td>
					</tr>
				</tbody>
			</table>
			<h2 id="withOptMessage">There aren't products</h2>
		</div>
		<div class="averageNumberOfOptionalProduct">
			<h1>Average number of optional product</h1>
			<table>
				<thead>
					<tr>
						<th>Package</th>
						<th>Average</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Package</td>
						<td class="number">5</td>
					</tr>
				</tbody>
			</table>
			<h2 id="avgMessage">There aren't products</h2>
		</div>
		<div class="insolventClients">
			<h1>Insolvent clients</h1>
			<table>
				<thead>
					<tr>
						<th>Username</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>John</td>
						<td>john.smith@email.com</td>
					</tr>
				</tbody>
			</table>
			<h2 id="insMessage">There aren't insolvent clients</h2>
		</div>
		<div class="suspendedOrders">
			<h1>Suspended orders</h1>
			<table>
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Creation date</th>
						<th>Creation time</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Order</td>
						<td class="number">01-01-2022</td>
						<td class="number">10:22</td>
					</tr>
				</tbody>
			</table>
			<h2 id="ordMessage">There aren't suspended orders</h2>
		</div>
		<div class="alerts">
			<h1>Clients with alerts</h1>
			<table>
				<thead>
					<tr>
						<th>Order</th>
						<th>Username</th>
						<th>Email</th>
						<th>Amount</th>
						<th>Rejection Date</th>
						<th>Rejection Time</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>404</td>
						<td>John</td>
						<td>john.smith@email.com</td>
						<td class="number"><span>100</span> &#8364</td>
						<td class="number">01-01-2022</td>
						<td class="number">10:22</td>
					</tr>
				</tbody>
			</table>
			<h2 id="alertsMessage">There aren't alerts</h2>
		</div>
		<div class="bestSeller">
			<h1>Best selling optional product</h1>
			<table>
				<thead>
					<tr>
						<th>Product</th>
						<th>Revenue</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Product</td>
						<td class="number"><span>100</span> &#8364</td>
					</tr>
				</tbody>
			</table>
			<h2 id="bestMessage">There aren't best optional products</h2>
		</div>
	</div>
</body>
</html>