<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>db2-2021-gibellini-montemurro-WEB</display-name>
	<welcome-file-list>
		<welcome-file>GetLogin</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>EmployeeFilter</filter-name>
		<filter-class>it.polimi.db2.project.filters.EmployeeFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EmployeeFilter</filter-name>
		<url-pattern>/CreateOptionalProduct</url-pattern>
		<url-pattern>/CreateService</url-pattern>
		<url-pattern>/CreateServicePackage</url-pattern>
		<url-pattern>/GetEmployeeHomePage</url-pattern>
		<url-pattern>/GetSalesPage</url-pattern>
		<url-pattern>/JSONTable</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ClientFilter</filter-name>
		<filter-class>it.polimi.db2.project.filters.ClientFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ClientFilter</filter-name>
		<url-pattern>/ConfirmSub</url-pattern>
		<url-pattern>/GetActivationSchedule</url-pattern>
		<url-pattern>/PayOrder</url-pattern>
		<url-pattern>/RefetchOrder</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ClientOrNullFilter</filter-name>
		<filter-class>it.polimi.db2.project.filters.ClientOrNullFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ClientOrNullFilter</filter-name>
		<url-pattern>/CreateSubscription</url-pattern>
		<url-pattern>/GetBuyPage</url-pattern>
		<url-pattern>/GetConfirmationPage</url-pattern>
		<url-pattern>/GetClientHomePage</url-pattern>
		<url-pattern>/JSONPackage</url-pattern>
		<url-pattern>/Register</url-pattern>
	</filter-mapping>
</web-app>